setup.py
cleanup.py
/My-Cypress-Project/node_modules
/My-Cypress-Project/cypress/screenshots
/My-Cypress-Project/package.json
/My-Cypress-Project/cypress/fixtures/*
!My-Cypress-Project/cypress/fixtures/examples
/My-Cypress-Project/cypress/results
/Mocha-Practice/mocha-example-project/node_modules
/Advanced-Cypress-Practice/node_modules
/Advanced-Cypress-Practice/cypress/screenshots
